<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>eName</key>
		<string>12cm单装炮</string>
		<key>eRarity</key>
		<string>1</string>
		<key>eFirepower</key>
		<string>1</string>
		<key>eThun</key>
		<string>1</string>
		<key>eBoom</key>
		<string>1</string>
		<key>eAntiair</key>
		<string>1</string>
		<key>eAntiSubm</key>
		<string>1</string>
		<key>eSearchEne</key>
		<string>1</string>
		<key>eAvoid</key>
		<string>1</string>
		<key>eHit</key>
		<string>1</string>
		<key>eRange</key>
		<string>1</string>
		<key>eNote</key>
		<string>1</string>
		<key>eEquble</key>
		<string>1</string>
	</dict>
	<dict>
		<key>eName</key>
		<string>12.7cm连装炮</string>
		<key>eRarity</key>
		<string>1</string>
		<key>eFirepower</key>
		<string>1</string>
		<key>eThun</key>
		<string>1</string>
		<key>eBoom</key>
		<string>1</string>
		<key>eAntiair</key>
		<string>1</string>
		<key>eAntiSubm</key>
		<string>1</string>
		<key>eSearchEne</key>
		<string>1</string>
		<key>eAvoid</key>
		<string>1</string>
		<key>eHit</key>
		<string>1</string>
		<key>eRange</key>
		<string>1</string>
		<key>eNote</key>
		<string>1</string>
		<key>eEquble</key>
		<string>1</string>
	</dict>
	<dict>
		<key>eName</key>
		<string>10cm连装高角炮</string>
		<key>eRarity</key>
		<string>1</string>
		<key>eFirepower</key>
		<string>1</string>
		<key>eThun</key>
		<string>1</string>
		<key>eBoom</key>
		<string>1</string>
		<key>eAntiair</key>
		<string>1</string>
		<key>eAntiSubm</key>
		<string>1</string>
		<key>eSearchEne</key>
		<string>1</string>
		<key>eAvoid</key>
		<string>1</string>
		<key>eHit</key>
		<string>1</string>
		<key>eRange</key>
		<string>1</string>
		<key>eNote</key>
		<string>1</string>
		<key>eEquble</key>
		<string>1</string>
	</dict>
</array>
</plist>
