<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>eName</key>
		<string>タンカー護衛任務</string>
		<key>eLevel</key>
		<string>LV.3</string>
		<key>eTimeTake</key>
		<string>4小时</string>
		<key>eRSCTake</key>
		<dict>
			<key>eTO</key>
			<string>50%</string>
			<key>eTA</key>
			<string>0</string>
		</dict>
		<key>eEXP</key>
		<string>60</string>
		<key>eReward</key>
		<dict>
			<key>eROi</key>
			<string>350</string>
			<key>eRAm</key>
			<string>0</string>
			<key>eRSt</key>
			<string>0</string>
			<key>eRAl</key>
			<string>0</string>
			<key>eRRe</key>
			<string>2</string>
			<key>eRBu</key>
			<string>无</string>
			<key>eRMa</key>
			<string>无</string>
			<key>eRFu</key>
			<string>小</string>
		</dict>
		<key>eOption</key>
		<string>最少4只，轻1驱2必要</string>
		<key>ePS</key>
		<string></string>
	</dict>
	<dict>
		<key>eName</key>
		<string>強行偵察任務</string>
		<key>eLevel</key>
		<string>LV.3</string>
		<key>eTimeTake</key>
		<string>1小时30分</string>
		<key>eRSCTake</key>
		<dict>
			<key>eTO</key>
			<string>30%</string>
			<key>eTA</key>
			<string>0</string>
		</dict>
		<key>eEXP</key>
		<string>50</string>
		<key>eReward</key>
		<dict>
			<key>eROi</key>
			<string>0</string>
			<key>eRAm</key>
			<string>50</string>
			<key>eRSt</key>
			<string>0</string>
			<key>eRAl</key>
			<string>30</string>
			<key>eRRe</key>
			<string>1</string>
			<key>eRBu</key>
			<string>1</string>
			<key>eRMa</key>
			<string>无</string>
			<key>eRFu</key>
			<string>无</string>
		</dict>
		<key>eOption</key>
		<string>最少3只，轻2必要</string>
		<key>ePS</key>
		<string></string>
	</dict>
	<dict>
		<key>eName</key>
		<string>ボーキサイト輸送任務</string>
		<key>eLevel</key>
		<string>LV.6</string>
		<key>eTimeTake</key>
		<string>5小时</string>
		<key>eRSCTake</key>
		<dict>
			<key>eTO</key>
			<string>50%</string>
			<key>eTA</key>
			<string>0</string>
		</dict>
		<key>eEXP</key>
		<string>40</string>
		<key>eReward</key>
		<dict>
			<key>eROi</key>
			<string>0</string>
			<key>eRAm</key>
			<string>0</string>
			<key>eRSt</key>
			<string>0</string>
			<key>eRAl</key>
			<string>250</string>
			<key>eRRe</key>
			<string>1</string>
			<key>eRBu</key>
			<string>无</string>
			<key>eRMa</key>
			<string>无</string>
			<key>eRFu</key>
			<string>小</string>
		</dict>
		<key>eOption</key>
		<string>最少4只，驱2必要</string>
		<key>ePS</key>
		<string></string>
	</dict>
	<dict>
		<key>eName</key>
		<string>資源輸送任務</string>
		<key>eLevel</key>
		<string>LV.4</string>
		<key>eTimeTake</key>
		<string>8小时</string>
		<key>eRSCTake</key>
		<dict>
			<key>eTO</key>
			<string>50%</string>
			<key>eTA</key>
			<string>0</string>
		</dict>
		<key>eEXP</key>
		<string>50</string>
		<key>eReward</key>
		<dict>
			<key>eROi</key>
			<string>50</string>
			<key>eRAm</key>
			<string>250</string>
			<key>eRSt</key>
			<string>200</string>
			<key>eRAl</key>
			<string>50</string>
			<key>eRRe</key>
			<string>无</string>
			<key>eRBu</key>
			<string>无</string>
			<key>eRMa</key>
			<string>1</string>
			<key>eRFu</key>
			<string>中</string>
		</dict>
		<key>eOption</key>
		<string>最少4只，驱2必要</string>
		<key>ePS</key>
		<string></string>
	</dict>
	<dict>
		<key>eName</key>
		<string>鼠輸送作戦	</string>
		<key>eLevel</key>
		<string>LV.5</string>
		<key>eTimeTake</key>
		<string>4小时</string>
		<key>eRSCTake</key>
		<dict>
			<key>eTO</key>
			<string>50%</string>
			<key>eTA</key>
			<string>40%</string>
		</dict>
		<key>eEXP</key>
		<string>60</string>
		<key>eReward</key>
		<dict>
			<key>eROi</key>
			<string>240</string>
			<key>eRAm</key>
			<string>300</string>
			<key>eRSt</key>
			<string>0</string>
			<key>eRAl</key>
			<string>0</string>
			<key>eRRe</key>
			<string>2</string>
			<key>eRBu</key>
			<string>无</string>
			<key>eRMa</key>
			<string>无</string>
			<key>eRFu</key>
			<string>小</string>
		</dict>
		<key>eOption</key>
		<string>全6只，轻1驱4必要</string>
		<key>ePS</key>
		<string></string>
	</dict>
	<dict>
		<key>eName</key>
		<string>包囲陸戦隊撤収作戦</string>
		<key>eLevel</key>
		<string>LV.6</string>
		<key>eTimeTake</key>
		<string>6小时</string>
		<key>eRSCTake</key>
		<dict>
			<key>eTO</key>
			<string>50%</string>
			<key>eTA</key>
			<string>0</string>
		</dict>
		<key>eEXP</key>
		<string>100</string>
		<key>eReward</key>
		<dict>
			<key>eROi</key>
			<string>0</string>
			<key>eRAm</key>
			<string>240</string>
			<key>eRSt</key>
			<string>200</string>
			<key>eRAl</key>
			<string>0</string>
			<key>eRRe</key>
			<string>1</string>
			<key>eRBu</key>
			<string>无</string>
			<key>eRMa</key>
			<string>1</string>
			<key>eRFu</key>
			<string>无</string>
		</dict>
		<key>eOption</key>
		<string>全6只，轻1驱3必要</string>
		<key>ePS</key>
		<string></string>
	</dict>
	<dict>
		<key>eName</key>
		<string>囮機動部隊支援作戦</string>
		<key>eLevel</key>
		<string>LV.9</string>
		<key>eTimeTake</key>
		<string>12小时</string>
		<key>eRSCTake</key>
		<dict>
			<key>eTO</key>
			<string>50%</string>
			<key>eTA</key>
			<string>40%</string>
		</dict>
		<key>eEXP</key>
		<string>160</string>
		<key>eReward</key>
		<dict>
			<key>eROi</key>
			<string>0</string>
			<key>eRAm</key>
			<string>0</string>
			<key>eRSt</key>
			<string>300</string>
			<key>eRAl</key>
			<string>400</string>
			<key>eRRe</key>
			<string>无</string>
			<key>eRBu</key>
			<string>无</string>
			<key>eRMa</key>
			<string>1</string>
			<key>eRFu</key>
			<string>大</string>
		</dict>
		<key>eOption</key>
		<string>全6只，空母2驱2必要</string>
		<key>ePS</key>
		<string>轻空母，水母可，潜母不可，推荐使用凤翔、水母和其他轻母（飞鹰型和千岁型航除外）</string>
	</dict>
	<dict>
		<key>eName</key>
		<string>艦隊決戦援護作戦</string>
		<key>eLevel</key>
		<string>LV.11</string>
		<key>eTimeTake</key>
		<string>15小时</string>
		<key>eRSCTake</key>
		<dict>
			<key>eTO</key>
			<string>50%</string>
			<key>eTA</key>
			<string>40%</string>
		</dict>
		<key>eEXP</key>
		<string>200</string>
		<key>eReward</key>
		<dict>
			<key>eROi</key>
			<string>500</string>
			<key>eRAm</key>
			<string>500</string>
			<key>eRSt</key>
			<string>200</string>
			<key>eRAl</key>
			<string>200</string>
			<key>eRRe</key>
			<string>无</string>
			<key>eRBu</key>
			<string>2</string>
			<key>eRMa</key>
			<string>2</string>
			<key>eRFu</key>
			<string>无</string>
		</dict>
		<key>eOption</key>
		<string>全6只，轻1驱2必要
全6只，轻1驱2必要
全6只，轻1驱2必要</string>
		<key>ePS</key>
		<string></string>
	</dict>
</array>
</plist>
