<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>eName</key>
		<string>練習航海</string>
		<key>eLevel</key>
		<string>LV.1</string>
		<key>eTimeTake</key>
		<string>15分钟</string>
		<key>eRSCTake</key>
		<dict>
			<key>eTO</key>
			<string>30%</string>
			<key>eTA</key>
			<string>0</string>
		</dict>
		<key>eEXP</key>
		<string>10</string>
		<key>eReward</key>
		<dict>
			<key>eROi</key>
			<string>0</string>
			<key>eRAm</key>
			<string>30</string>
			<key>eRSt</key>
			<string>0</string>
			<key>eRAl</key>
			<string>0</string>
			<key>eRRe</key>
			<string>无</string>
			<key>eRBu</key>
			<string>无</string>
			<key>eRMa</key>
			<string>无</string>
			<key>eRFu</key>
			<string>无</string>
		</dict>
		<key>eOption</key>
		<string>最少2只，舰种自由</string>
		<key>ePS</key>
		<string>舰种自由的远征推荐使用驱逐舰和潜水艇</string>
	</dict>
	<dict>
		<key>eName</key>
		<string>長距離練習航海</string>
		<key>eLevel</key>
		<string>LV.2</string>
		<key>eTimeTake</key>
		<string>30分钟</string>
		<key>eRSCTake</key>
		<dict>
			<key>eTO</key>
			<string>50%</string>
			<key>eTA</key>
			<string>0</string>
		</dict>
		<key>eEXP</key>
		<string>20</string>
		<key>eReward</key>
		<dict>
			<key>eROi</key>
			<string>0</string>
			<key>eRAm</key>
			<string>100</string>
			<key>eRSt</key>
			<string>30</string>
			<key>eRAl</key>
			<string>0</string>
			<key>eRRe</key>
			<string>1</string>
			<key>eRBu</key>
			<string>无</string>
			<key>eRMa</key>
			<string>无</string>
			<key>eRFu</key>
			<string>无</string>
		</dict>
		<key>eOption</key>
		<string>最少4只，舰种自由</string>
		<key>ePS</key>
		<string>远征使用的驱逐舰推荐睦月型</string>
	</dict>
	<dict>
		<key>eName</key>
		<string>警備任務</string>
		<key>eLevel</key>
		<string>LV.3</string>
		<key>eTimeTake</key>
		<string>20分钟</string>
		<key>eRSCTake</key>
		<dict>
			<key>eTO</key>
			<string>30%</string>
			<key>eTA</key>
			<string>20%</string>
		</dict>
		<key>eEXP</key>
		<string>30</string>
		<key>eReward</key>
		<dict>
			<key>eROi</key>
			<string>30</string>
			<key>eRAm</key>
			<string>30</string>
			<key>eRSt</key>
			<string>40</string>
			<key>eRAl</key>
			<string>0</string>
			<key>eRRe</key>
			<string>无</string>
			<key>eRBu</key>
			<string>无</string>
			<key>eRMa</key>
			<string>无</string>
			<key>eRFu</key>
			<string>无</string>
		</dict>
		<key>eOption</key>
		<string>最少3只，舰种自由</string>
		<key>ePS</key>
		<string>远征使用的轻巡洋舰推荐天龙型（消耗弹药时）和未改造夕张（不消耗弹药时）</string>
	</dict>
	<dict>
		<key>eName</key>
		<string>対潜警戒任務</string>
		<key>eLevel</key>
		<string>LV.3</string>
		<key>eTimeTake</key>
		<string>50分钟</string>
		<key>eRSCTake</key>
		<dict>
			<key>eTO</key>
			<string>50%</string>
			<key>eTA</key>
			<string>0</string>
		</dict>
		<key>eEXP</key>
		<string>30</string>
		<key>eReward</key>
		<dict>
			<key>eROi</key>
			<string>0</string>
			<key>eRAm</key>
			<string>60</string>
			<key>eRSt</key>
			<string>0</string>
			<key>eRAl</key>
			<string>0</string>
			<key>eRRe</key>
			<string>1</string>
			<key>eRBu</key>
			<string>无</string>
			<key>eRMa</key>
			<string>无</string>
			<key>eRFu</key>
			<string>小</string>
		</dict>
		<key>eOption</key>
		<string>最少3只，轻1驱2必要</string>
		<key>ePS</key>
		<string>无</string>
	</dict>
	<dict>
		<key>eName</key>
		<string>海上護衛任務</string>
		<key>eLevel</key>
		<string>LV.3</string>
		<key>eTimeTake</key>
		<string>1小时30分</string>
		<key>eRSCTake</key>
		<dict>
			<key>eTO</key>
			<string>50%</string>
			<key>eTA</key>
			<string>0</string>
		</dict>
		<key>eEXP</key>
		<string>40</string>
		<key>eReward</key>
		<dict>
			<key>eROi</key>
			<string>200</string>
			<key>eRAm</key>
			<string>200</string>
			<key>eRSt</key>
			<string>20</string>
			<key>eRAl</key>
			<string>20</string>
			<key>eRRe</key>
			<string>无</string>
			<key>eRBu</key>
			<string>无</string>
			<key>eRMa</key>
			<string>无</string>
			<key>eRFu</key>
			<string>无</string>
		</dict>
		<key>eOption</key>
		<string>最少4只，轻1驱2必要</string>
		<key>ePS</key>
		<string>无</string>
	</dict>
	<dict>
		<key>eName</key>
		<string>防空射撃演習</string>
		<key>eLevel</key>
		<string>LV.4</string>
		<key>eTimeTake</key>
		<string>40分钟</string>
		<key>eRSCTake</key>
		<dict>
			<key>eTO</key>
			<string>30%</string>
			<key>eTA</key>
			<string>20%</string>
		</dict>
		<key>eEXP</key>
		<string>30</string>
		<key>eReward</key>
		<dict>
			<key>eROi</key>
			<string>0</string>
			<key>eRAm</key>
			<string>0</string>
			<key>eRSt</key>
			<string>0</string>
			<key>eRAl</key>
			<string>80</string>
			<key>eRRe</key>
			<string>无</string>
			<key>eRBu</key>
			<string>无</string>
			<key>eRMa</key>
			<string>无</string>
			<key>eRFu</key>
			<string>无</string>
		</dict>
		<key>eOption</key>
		<string>最少4只，舰种自由</string>
		<key>ePS</key>
		<string>无</string>
	</dict>
	<dict>
		<key>eName</key>
		<string>観艦式予行</string>
		<key>eLevel</key>
		<string>LV.5</string>
		<key>eTimeTake</key>
		<string>1小时</string>
		<key>eRSCTake</key>
		<dict>
			<key>eTO</key>
			<string>50%</string>
			<key>eTA</key>
			<string>0</string>
		</dict>
		<key>eEXP</key>
		<string>60</string>
		<key>eReward</key>
		<dict>
			<key>eROi</key>
			<string>0</string>
			<key>eRAm</key>
			<string>0</string>
			<key>eRSt</key>
			<string>50</string>
			<key>eRAl</key>
			<string>30</string>
			<key>eRRe</key>
			<string>无</string>
			<key>eRBu</key>
			<string>1</string>
			<key>eRMa</key>
			<string>无</string>
			<key>eRFu</key>
			<string>无</string>
		</dict>
		<key>eOption</key>
		<string>全6只，舰种自由</string>
		<key>ePS</key>
		<string>无</string>
	</dict>
	<dict>
		<key>eName</key>
		<string>観艦式</string>
		<key>eLevel</key>
		<string>LV.6</string>
		<key>eTimeTake</key>
		<string>3小时</string>
		<key>eRSCTake</key>
		<dict>
			<key>eTO</key>
			<string>50%</string>
			<key>eTA</key>
			<string>20%</string>
		</dict>
		<key>eEXP</key>
		<string>120</string>
		<key>eReward</key>
		<dict>
			<key>eROi</key>
			<string>50</string>
			<key>eRAm</key>
			<string>100</string>
			<key>eRSt</key>
			<string>50</string>
			<key>eRAl</key>
			<string>50</string>
			<key>eRRe</key>
			<string>无</string>
			<key>eRBu</key>
			<string>2</string>
			<key>eRMa</key>
			<string>1</string>
			<key>eRFu</key>
			<string>无</string>
		</dict>
		<key>eOption</key>
		<string>全6只，舰种自由</string>
		<key>ePS</key>
		<string>无</string>
	</dict>
</array>
</plist>
