<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>eName</key>
		<string>練習航海</string>
		<key>eLevel</key>
		<string>LV.1</string>
		<key>eTimeTake</key>
		<string>15分钟</string>
		<key>eRSCTake</key>
		<dict>
			<key>eTO</key>
			<string>30%</string>
			<key>eTA</key>
			<string>0</string>
		</dict>
		<key>eEXP</key>
		<string>10</string>
		<key>eReward</key>
		<dict>
			<key>eROi</key>
			<string>0</string>
			<key>eRAm</key>
			<string>30</string>
			<key>eRSt</key>
			<string>0</string>
			<key>eRAl</key>
			<string>0</string>
			<key>eRRe</key>
			<string>无</string>
			<key>eRBu</key>
			<string>无</string>
			<key>eRMa</key>
			<string>无</string>
			<key>eRFu</key>
			<string>无</string>
		</dict>
		<key>eOption</key>
		<string>最少2只，舰种自由</string>
		<key>ePS</key>
		<string>舰种自由的远征推荐使用驱逐舰和潜水艇</string>
	</dict>
	<dict>
		<key>eName</key>
		<string>練習航海</string>
		<key>eLevel</key>
		<string>LV.1</string>
		<key>eTimeTake</key>
		<string>15分钟</string>
		<key>eRSCTake</key>
		<dict>
			<key>eTO</key>
			<string>30%</string>
			<key>eTA</key>
			<string>0</string>
		</dict>
		<key>eEXP</key>
		<string>10</string>
		<key>eReward</key>
		<dict>
			<key>eROi</key>
			<string>0</string>
			<key>eRAm</key>
			<string>30</string>
			<key>eRSt</key>
			<string>0</string>
			<key>eRAl</key>
			<string>0</string>
			<key>eRRe</key>
			<string>无</string>
			<key>eRBu</key>
			<string>无</string>
			<key>eRMa</key>
			<string>无</string>
			<key>eRFu</key>
			<string>无</string>
		</dict>
		<key>eOption</key>
		<string>最少2只，舰种自由</string>
		<key>ePS</key>
		<string>舰种自由的远征推荐使用驱逐舰和潜水艇</string>
	</dict>
	<dict>
		<key>eName</key>
		<string>練習航海</string>
		<key>eLevel</key>
		<string>LV.1</string>
		<key>eTimeTake</key>
		<string>15分钟</string>
		<key>eRSCTake</key>
		<dict>
			<key>eTO</key>
			<string>30%</string>
			<key>eTA</key>
			<string>0</string>
		</dict>
		<key>eEXP</key>
		<string>10</string>
		<key>eReward</key>
		<dict>
			<key>eROi</key>
			<string>0</string>
			<key>eRAm</key>
			<string>30</string>
			<key>eRSt</key>
			<string>0</string>
			<key>eRAl</key>
			<string>0</string>
			<key>eRRe</key>
			<string>无</string>
			<key>eRBu</key>
			<string>无</string>
			<key>eRMa</key>
			<string>无</string>
			<key>eRFu</key>
			<string>无</string>
		</dict>
		<key>eOption</key>
		<string>最少2只，舰种自由</string>
		<key>ePS</key>
		<string>舰种自由的远征推荐使用驱逐舰和潜水艇</string>
	</dict>
	<dict>
		<key>eName</key>
		<string>練習航海</string>
		<key>eLevel</key>
		<string>LV.1</string>
		<key>eTimeTake</key>
		<string>15分钟</string>
		<key>eRSCTake</key>
		<dict>
			<key>eTO</key>
			<string>30%</string>
			<key>eTA</key>
			<string>0</string>
		</dict>
		<key>eEXP</key>
		<string>10</string>
		<key>eReward</key>
		<dict>
			<key>eROi</key>
			<string>0</string>
			<key>eRAm</key>
			<string>30</string>
			<key>eRSt</key>
			<string>0</string>
			<key>eRAl</key>
			<string>0</string>
			<key>eRRe</key>
			<string>无</string>
			<key>eRBu</key>
			<string>无</string>
			<key>eRMa</key>
			<string>无</string>
			<key>eRFu</key>
			<string>无</string>
		</dict>
		<key>eOption</key>
		<string>最少2只，舰种自由</string>
		<key>ePS</key>
		<string>舰种自由的远征推荐使用驱逐舰和潜水艇</string>
	</dict>
	<dict>
		<key>eName</key>
		<string>練習航海</string>
		<key>eLevel</key>
		<string>LV.1</string>
		<key>eTimeTake</key>
		<string>15分钟</string>
		<key>eRSCTake</key>
		<dict>
			<key>eTO</key>
			<string>30%</string>
			<key>eTA</key>
			<string>0</string>
		</dict>
		<key>eEXP</key>
		<string>10</string>
		<key>eReward</key>
		<dict>
			<key>eROi</key>
			<string>0</string>
			<key>eRAm</key>
			<string>30</string>
			<key>eRSt</key>
			<string>0</string>
			<key>eRAl</key>
			<string>0</string>
			<key>eRRe</key>
			<string>无</string>
			<key>eRBu</key>
			<string>无</string>
			<key>eRMa</key>
			<string>无</string>
			<key>eRFu</key>
			<string>无</string>
		</dict>
		<key>eOption</key>
		<string>最少2只，舰种自由</string>
		<key>ePS</key>
		<string>舰种自由的远征推荐使用驱逐舰和潜水艇</string>
	</dict>
	<dict>
		<key>eName</key>
		<string>練習航海</string>
		<key>eLevel</key>
		<string>LV.1</string>
		<key>eTimeTake</key>
		<string>15分钟</string>
		<key>eRSCTake</key>
		<dict>
			<key>eTO</key>
			<string>30%</string>
			<key>eTA</key>
			<string>0</string>
		</dict>
		<key>eEXP</key>
		<string>10</string>
		<key>eReward</key>
		<dict>
			<key>eROi</key>
			<string>0</string>
			<key>eRAm</key>
			<string>30</string>
			<key>eRSt</key>
			<string>0</string>
			<key>eRAl</key>
			<string>0</string>
			<key>eRRe</key>
			<string>无</string>
			<key>eRBu</key>
			<string>无</string>
			<key>eRMa</key>
			<string>无</string>
			<key>eRFu</key>
			<string>无</string>
		</dict>
		<key>eOption</key>
		<string>最少2只，舰种自由</string>
		<key>ePS</key>
		<string>舰种自由的远征推荐使用驱逐舰和潜水艇</string>
	</dict>
	<dict>
		<key>eName</key>
		<string>練習航海</string>
		<key>eLevel</key>
		<string>LV.1</string>
		<key>eTimeTake</key>
		<string>15分钟</string>
		<key>eRSCTake</key>
		<dict>
			<key>eTO</key>
			<string>30%</string>
			<key>eTA</key>
			<string>0</string>
		</dict>
		<key>eEXP</key>
		<string>10</string>
		<key>eReward</key>
		<dict>
			<key>eROi</key>
			<string>0</string>
			<key>eRAm</key>
			<string>30</string>
			<key>eRSt</key>
			<string>0</string>
			<key>eRAl</key>
			<string>0</string>
			<key>eRRe</key>
			<string>无</string>
			<key>eRBu</key>
			<string>无</string>
			<key>eRMa</key>
			<string>无</string>
			<key>eRFu</key>
			<string>无</string>
		</dict>
		<key>eOption</key>
		<string>最少2只，舰种自由</string>
		<key>ePS</key>
		<string>舰种自由的远征推荐使用驱逐舰和潜水艇</string>
	</dict>
	<dict>
		<key>eName</key>
		<string>練習航海</string>
		<key>eLevel</key>
		<string>LV.1</string>
		<key>eTimeTake</key>
		<string>15分钟</string>
		<key>eRSCTake</key>
		<dict>
			<key>eTO</key>
			<string>30%</string>
			<key>eTA</key>
			<string>0</string>
		</dict>
		<key>eEXP</key>
		<string>10</string>
		<key>eReward</key>
		<dict>
			<key>eROi</key>
			<string>0</string>
			<key>eRAm</key>
			<string>30</string>
			<key>eRSt</key>
			<string>0</string>
			<key>eRAl</key>
			<string>0</string>
			<key>eRRe</key>
			<string>无</string>
			<key>eRBu</key>
			<string>无</string>
			<key>eRMa</key>
			<string>无</string>
			<key>eRFu</key>
			<string>无</string>
		</dict>
		<key>eOption</key>
		<string>最少2只，舰种自由</string>
		<key>ePS</key>
		<string>舰种自由的远征推荐使用驱逐舰和潜水艇</string>
	</dict>
</array>
</plist>
